body {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	background-color: rgb(160, 105, 105);
	}

header,
main,
footer {
	font-size: 15;
}

header {
	padding: 1.875em 0;
}

h1 {
	text-align: center;
	font-size: 26;
}
.profile{
	background: rgb(153, 153, 153)
}
