body {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	background-color: rgb(160, 105, 105);
	}

main,
footer {
	font-size: 15;
	padding: 1.8em;
	 
}

header {
	border-image-width:10;
	}

h1 {
	text-align: center;
	font-size: 26;
}
.work{
	background-color: rgb(153, 153, 153);
}
.learn{
	background-color: rgb(25, 0, 255);
}